

<div class="text-layout">
    <h1>Basics Pipes</h1>
    <p>
        Pipes include in Angular - Usually in the Common Module
    </p>
</div>

<div class="grid">
    <div class="col">
        <p-card header="uppercase"
                [subheader]="nameLower | uppercase "
        >{{ nameLower | uppercase }}</p-card>
    </div>
    <div class="col">
        <p-card header="lowercase"
                [subheader]="nameUpper | lowercase "
        >{{ nameUpper| lowercase }}</p-card>
    </div>
    <div class="col">
        <p-card header="titlecase"
                [subheader]="nameComplete | titlecase "
        >{{ nameComplete | titlecase }}</p-card>
    </div>
</div>
