<div class="text-layout">
    <h1>Pipes not common</h1>
    <p>
        Pipes include in Angular - Usually in the Common Module
    </p>
</div>


<div class="grid">

    <div class="col">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus deleniti enim, ex consequuntur ea libero nemo ipsum laudantium deserunt, doloribus vitae quidem neque excepturi aperiam reprehenderit placeat, pariatur voluptas! Ducimus?
        </p-fieldset>
    </div>

    <div class="col">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus deleniti enim, ex consequuntur ea libero nemo ipsum laudantium deserunt, doloribus vitae quidem neque excepturi aperiam reprehenderit placeat, pariatur voluptas! Ducimus?
        </p-fieldset>
    </div>
</div>